.trends_for_you{
    border-radius:15px;
    background: #f5f8fd;

}

.trends_for_you_block{
    border-bottom: 1px solid #e6ecf0;
    padding:10px 15px;
    
    
}

.trends_for_you_block:last-child{
    border-bottom:none;
}

.trends_for_you_heading{
    font-size:19px;
    font-weight:bold;
    color:#14171a;
}

.trends_for_you_meta-information{
    font-size:13px;
    font-weight:300;
    color: #657786;
}

.trends_for_you_trend_name{
    font-size: 15px;
    color:#14171a;
    font-weight: bold;
}